/* Importing Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Global properties */
*{
  font-family: 'Montserrat', sans-serif;
}

html{
  font-size: 62.5%; /* 10px */ 
}

body{
  background-color: #343A40;
}

/* Introductory section */
.intro{
  text-align: center;
  margin: 40px auto auto auto;
}

.intro h2{
  color: #FFFFFF;
  font-size: 4.5rem;
  font-weight: Medium;
}

.intro .lead{
  color: #939BA2;
  font-size: 1.8rem;
}

.intro p{
  color: #AFB5BA;
  font-size: 1.8rem;
}

.intro p span{
  color: #17A2B8;
  font-size: 2rem;
}

/* Statistics*/
.stats{
  margin: 50px auto auto auto;
}

.stats .row{
  line-height: 1;
}

.stats .margin{
  margin-bottom: 35px;
}

.stats p{
  color: #FFFFFF;
  font-size: 2rem;
}

.stats .num-cases{
  color: #FFC107;
  font-size: 5rem;
}

.stats .num-deaths{
  color: #DC3545;
  font-size: 5rem;
}

.stats .num-recoveries{
  color: #28a745;
  font-size: 5rem;
}

.stats .num-critical{
  color: #3788DE;
  font-size: 5rem;
}

.num-under{font-size: 1.5rem;}
#activeCases{color: #FFC107;}
#fatalityRate{color: #DC3545;}
#recoveryRate{color: #28a745;}
#tests{color: #3788DE;}

/* Visual Statistics */
.chart{
  position: relative;
  height: 50vh;
  width: 90vw;
}

/* Updates */
.updates{
  margin: 50px auto auto auto;
}

.updates .update-border{
  border-right:3px solid #E0E0E3 ;
}

.updates p{
  color: #E0E0E3;
  font-size: 3rem;
}

.updates .update-time{
  color: #939BA2;
  font-size: 1.5rem;
}

.updates .message{
  color: #E0E0E3;
  font-size: 3rem;
  text-align: justify;
  text-justify: inter-word;
  margin: auto 15px auto 15px;
}
#date2{color: #17A2B8;}

#cases{color: #FFC107;}

#deaths{color: #DC3545;}

#recoveries{color: #28a745;}

/* Footer */
.footer{
  background-color: #212529;
  color: #6C757D;
  font-size: 1.5rem;
  margin: 20px auto auto auto;
}
/*********************************/

/* Media Queries */
/* For mobile devices */
@media (max-width: 576px){
  .updates .update-border{
    border-right: 0;
    border-bottom: 2px solid #E0E0E3;
    margin: auto 15px 20px 15px;
  }

  .updates .message{
    font-size: 2rem;
    margin: auto 15px auto 15px;
  }

  .updates p{
    font-size: 2.5rem;
  }
  
  .updates .update-time{
    color: #939BA2;
    font-size: 1.5rem;
  }

  .footer{
    font-size: 1rem;
  }
}

/* Chart.js Mobile adjustments (Landscape mode) */
@media screen and (min-width: 568px) and (max-width: 1281px) and (orientation: landscape){
  .chart{
      height: 90vh;
      width: 90vw;
  }
}